<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dama</title>
  <!-- plugins:css -->

  <link rel="icon" type="image/x-icon" href="theme/images/blacklogo.svg" />
  <link href="/admin/theme/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/admin/theme/vendors/feather/feather.css" />
  <link rel="stylesheet" href="/admin/theme/vendors/ti-icons/css/themify-icons.css" />
  <link rel="stylesheet" href="/admin/theme/vendors/css/vendor.bundle.base.css" />
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/admin/theme/vendors/select2/select2.min.css" />
  <link rel="stylesheet" href="/admin/theme/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" />
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- <link rel="stylesheet" href="/admin/theme/css/vertical-layout-light/style.css" /> -->
  <link rel="stylesheet" href="/admin/theme/css/vertical-layout-light/custom-style.css" />
  <link rel="stylesheet" type="text/css" href="/admin/theme/css/min/sweetalert.min.css" />
  <!-- endinject -->
  <link rel="shortcut icon" href="theme/images/logo22.png" />
  <!-- Font-awesome cdn -->
  <link href="/admin/theme/css/font-awesome/font-awesome.min.css" rel="stylesheet" />
  <link href="/admin/theme/css/themeicons/themify-icons.css" rel="stylesheet" />
  <link href="/admin/theme/css/flag-icons/flag-icon.min.css" rel="stylesheet" />
  <link href="/admin/theme/css/cs-skin/cs-skin-elastic.css" rel="stylesheet" />
  <link href="/admin/theme/css/custom-css/style.css" rel="stylesheet" />
  <link href="/admin/theme/css/custom-style.css" rel="stylesheet" />
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">
</head>