<header id="header" class="header">
<style>

.user-pic {
  width: 50px;
  height: 40px;
  border-radius: 50%;
}
</style>
    <div class="header-menu">

        <div class="col-sm-7">
            <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
        </div>

        <div class="col-sm-5">
            <div class="user-area dropdown float-right">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown"
                    id="profileDropdown">
                    <img src="/admin/theme/images/images/admin.jpg" alt="User Avatar" id="userImageSrc" class="user-pic" />
                </a>

                <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle" src="/admin/theme/images/images/admin.jpg" alt="User Avatar">
                </a> -->

                <div class="user-menu dropdown-menu">
                    <a class="nav-link" href="/admin/edit-profile"><i class="fa fa-user"></i> Edit Profile</a>

                    <a class="nav-link" href="/admin/changePassword"><i class="fa fa-user"></i> Change Password</a>
                    <a class="nav-link" onclick="KWACHA_MAIN.userLogout()"><i class="fa fa-power-off"></i> Logout</a>
                </div>
            </div>

            <!-- <div class="language-select dropdown" id="language-select">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="language" aria-haspopup="true"
                    aria-expanded="true">
                    <i class="flag-icon flag-icon-us"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="language">
                    <div class="dropdown-item">
                        <span class="flag-icon flag-icon-fr"></span>
                    </div>
                    <div class="dropdown-item">
                        <i class="flag-icon flag-icon-es"></i>
                    </div>
                    <div class="dropdown-item">
                        <i class="flag-icon flag-icon-us"></i>
                    </div>
                    <div class="dropdown-item">
                        <i class="flag-icon flag-icon-it"></i>
                    </div>
                </div>
            </div> -->

        </div>
    </div>

</header>
<script>
    let image = localStorage.getItem("adminImage");
    // console.log(image, "sghfcddgshvgd");
    let userImage = document.getElementById("userImageSrc");
    if (image && image !== "" && image !== null && image !== undefined) {
        console.log("if");
        // let fullSource =
        //   "https://allora-bucket.s3.eu-north-1.amazonaws.com/images/users-profile-images/" +
        //   image;
        userImage.src = image;
    }
    else {
        let defaultSource =
            "https://cdn.pixabay.com/photo/2014/03/25/16/32/user-297330_1280.png";
        console.log(" else executed", defaultSource);
        userImage.src = defaultSource;
    }
</script>