<!DOCTYPE html>
<html lang="en">
<%- include('./include/header'); %>

  <body>
    <!-- partial:../../partials/_navbar.html -->
    <%- include('./include/sidebar'); %>
      <div id="right-panel" class="right-panel">
        <%- include('./include/topbar'); %>
          <div class="content-side">
            <div class="main-panel">
              <div class="content">
            <div class="card mt-3">
              <form role="form" id="addBlog" method="POST">
                <!-- <div class="card-header text-white"><strong>Add Blog</strong></div> -->
                <div class="card-header text-white">
                  <strong style="font-weight: 800;">Add Blog</strong>
              </div>
              
                <div class="card-body card-block">
                  <div class="form-group">
                    <div class="row">
                      <div class="linement" style="margin-top: -10px ;width:50%">
                        <div class="form-group ">
                          <div class="col-sm-12 add-width">
                            <label style="font-weight: bold;">Title</label>
                            <input type="text" id="title" name="title" class="form-control" placeholder="Blog Title"
                              style="border: 2px solid #ced4da;">
                          </div>

                        </div>
                      </div>
                      <div class="linement" style="margin-top: -10px ;width:50%">
                        <div class="form-group ">
                          <div class="col-sm-12 add-width">
                            <label style="font-weight: bold;">Subtitle</label>
                            <input type="text" id="subTitle" name="subTitle" class="form-control"
                              placeholder="Blog Subtitle" style="border: 2px solid #ced4da">
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group mt-3">
                    <div class="row">
                      <div class="linement" style="margin-top: 0px ;width: 50%;">
                        <div class="form-group ">
                          <div class="col-sm-12 add-width ">
                            <label style="font-weight: bold;">Content</label>
                            <input type="text" id="content" name="content" class="form-control"
                              placeholder="Blog Content" style="border: 2px solid #ced4da" />
                          </div>

                        </div>
                      </div>
                      <div class="linement" style="margin-top: 0px ;width:50%">

                        <div class="form-group ">
                          <div class="col-sm-12 add-width">
                            <label style="font-weight: bold;">Featured Image
                              <small class="text-danger">Only png, jpg, and jpeg image
                                allow</small></label>
                            <div class="custom-file">
                              <div class="">
                                <input type="file" name="image" class="input-file form-control" id="b_image"
                                  style="border: 2px solid #ced4da" multiple />
                              </div>
                            </div>
                            <p style="display: none" id="img_error_msg" class="alert alert-danger">
                            </p>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>

                  <div class="form-group mt-3">
                    <div class="row">
                      <div class="col-sm-12">
                        <label style="font-weight: bold;">Description</label>
                        <textarea id="description" name="desc" class="form-control" aria-hidden="true"
                          required=""></textarea>

                      </div>
                    </div>

                  </div>


                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
      <!-- main-panel ends -->
      <!-- page-body-wrapper ends -->
      </div>
      <%- include('./include/footer'); %>
  </body>
  <style>
    .form-group input.form-control.error {
      border: 1px solid #f00 !important;
    }

    .form-group select {
      width: 100% !important;
      padding: 8px;
      border: 1px solid #ced4da;
      border-radius: 10px !important;
    }

    body {
      font-family: Roboto;
      font-size: 16px;
      line-height: 1.5;
    }

    button.upload-field.btn.btn-info {
      padding-bottom: 5px;
      margin-left: 4px;
      background-color:#c2cfd6;
      border-color: #c2cfd6;
    }
  </style>
 <script>
    $(function () {
        $("#addBlog").validate({
            errorPlacement: function (error, element) {
                $(element)
                    .closest("form")
                    .find("label[for='" + element.attr("id") + "']")
                    .append(error);
            },

            errorElement: "span",
            rules: {
                title: {
                    required: true,
                    maxlength: 300,
                },

                content: {
                    required: true,
                    maxlength: 350,
                },
                description: {
                    required: true,
                    maxlength: 350,
                },
            },
            submitHandler: function () {
              for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
          }
                let formData = $("#addBlog").serialize();
                console.log(formData, "ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff")
                $.ajax({
                    url: "/admin/insert-blog",
                    headers: {
                        Authorization: localStorage.getItem("token"),
                    },
                    data: formData,
                    cache: false,
                    processData: false,
                    method: "POST",
                    type: "POST",

                    success: function (_res) {
                        console.log(_res, "ressssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss")
                        let _id = _res.payload.blogUuid;
                        console.log(_id, "_id_id_id_id_id_id_id_id_id_id_id_id_id_id_id_id_id_id_id_id_id_id_id_id_id_id_id")
                        KWACHA_MAIN.uploadBlogImage(_id);
                        $("#addBlog").trigger("reset");

                        let successConfig = {
                            title: "Confirmation",
                            message: `Operation performed successfully.`,
                            type: "success",
                        };
                        KWACHA_MAIN.sweetAlert(successConfig);
                    },

                    error: function (e) {
                        $("#load").hide();
                        let responseText = JSON.parse(e.responseText);
                        let errorConfig = {
                            title: "Error",
                            message: responseText.message,
                            type: "error",
                        };
                        KWACHA_MAIN.sweetAlert(errorConfig);
                    },
                });
            },
        });
    });
    KWACHA_MAIN.uploadBlogImage = function (_id) {
        if (document.getElementById("b_image")) {
            if (typeof document.getElementById("b_image").files !== "undefined" && document.getElementById("b_image").files.length > 0) {
                var formData = new FormData();
                var files = document.getElementById("b_image").files;
                console.log("Files received from frontend:", files);
                for (var i = 0; i <= files.length; i++) {
                    formData.append("multiple", files[i]);
                }
                formData.append("blogUuid", _id);
                $.ajax({
                    url: "/admin/upload-blog-image",
                    data: formData,
                    dataType: "json",
                    cache: false,
                    contentType: false,
                    processData: false,
                    method: "POST",
                    type: "POST",
                    success: function () {
                        $("#addBlog").trigger("reset");
                    },
                    error: function (error) {
                        let message = error.responseJSON ? error.responseJSON.message : "Something Went wrong!";
                        KWACHA_MAIN.sweetAlert({ title: "Error", message: message, type: "error" });
                    },
                });
            }
        }
    };

    $(document).on("click", ".upload-field", function () {
        var file = $(this).parent().parent().parent().find(".input-file");
        file.trigger("click");
    });
    $(document).on("change", ".input-file", function () {
        $(this)
            .parent()
            .find(".form-control")
            .val(
                $(this)
                    .val()
                    .replace(/C:\\fakepath\\/i, "")
            );
    });
</script>

<script>
  CKEDITOR.replace("desc");
  var editor = CKEDITOR.replace("description");
  editor.on("change", function (evt) {
    $("#hidden").val(evt.editor.getData());
  });
</script>

</html>