<!DOCTYPE html>
<html lang="en">
<%- include('./include/header'); %>
  <style>
    /* Add this style to change border color to red on validation error */
    input.error {
      border-color: red !important;
    }

    body {
      background-color: #f9f9f9;
      color: #69707a;
    }

    .img-account-profile {
      height: 10rem;
    }

    .rounded-circle {
      border-radius: 50% !important;
    }

    .card {
      box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

    .flex {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
    }

    .card .card-header {
      font-weight: 500;
    }

    .card-header:first-child {
      border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
      padding: 1rem 1.35rem;
      margin-bottom: 0;
      background-color: rgba(33, 40, 50, 0.03);
      border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control,
    .dataTable-input {
      display: block;
      width: 100%;
      padding: 0.875rem 1.125rem;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1;
      color: #69707a;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #c5ccd6;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0.35rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
      color: #0056b3;
      border-bottom-color: #0056b3;
    }

    .nav-borders .nav-link {
      color: #69707a;
      border-bottom-width: 0.125rem;
      border-bottom-style: solid;
      border-bottom-color: transparent;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0;
      padding-right: 0;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .card-header {
      background-color: #0056b3;
      color: aliceblue;
    }


    .avatar-upload {
      position: relative;
      max-width: 205px;
      margin: 12px auto;
    }

    .avatar-upload .avatar-edit {
      position: absolute;
      right: 12px;
      z-index: 1;
      top: 10px;
    }

    .avatar-upload .avatar-edit input {
      display: none;
    }

    .avatar-upload .avatar-edit input+label {
      display: flex;
      width: 34px;
      height: 34px;
      margin-bottom: 0;
      border-radius: 100%;
      background: #ffffff;
      border: 1px solid transparent;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
      cursor: pointer;
      font-weight: normal;
      transition: all 0.2s ease-in-out;
      align-items: center;
      justify-content: center;
    }

    .avatar-upload .avatar-edit input+label:hover {
      background: #f1f1f1;
      border-color: #d6d6d6;
    }

    .avatar-upload .avatar-edit input+label:after {
      content: "\f040";
      font-family: "FontAwesome";
      color: #757575;
      text-align: center;
      margin: auto;
    }

    .avatar-upload .avatar-preview {
      width: 192px;
      height: 192px;
      position: relative;
      border-radius: 100%;
      border: 6px solid #f8f8f8;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }

    .avatar-upload .avatar-preview>div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  </style>

  <body>
    <!-- partial:../../partials/_navbar.html -->
    <%- include('./include/sidebar'); %>
      <div id="right-panel" class="right-panel">
        <%- include('./include/topbar'); %>
          <!-- partial -->
          <div class="container page-body-wrapper">
            <!-- partial:../../partials/_settings-panel.html -->

            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->


            <!-- partial -->
            <form method="post" name="signupForm" class="mt-5" id="create_form">
              <div class="col-12 col-md-6">
                <div class="card">
                  <div class="card-header" style="font-weight: bold;">Change Password
                  </div>
                  <div class="card-body my-5">
                    <div class="inputDiv">
                      <label class="inputLabel" for="currentPassword" style="font-weight: bold;">Current Password</label>
                      <input type="password" id="currentPassword" name="currentPassword"
                        style="border: 1px solid #ccc; margin-bottom: 3px" />
                    </div>

                    <div class="inputDiv mt-3">
                      <label class="inputLabel" for="password" style="font-weight: bold;">New Password</label>
                      <input type="password" id="password" name="password"
                        style="border: 1px solid #ccc; margin-bottom: 3px" required />
                    </div>

                    <div class="inputDiv mt-3">
                      <label class="inputLabel" for="confirmPassword" style="font-weight: bold;">Confirm Password</label>
                      <input type="password" id="confirmPassword" name="confirmPassword"
                        style="border: 1px solid #ccc; margin-bottom: 3px" />
                    </div>

                  </div>
                  <div class="card-footer">
                    <button type="submit" id="submitButton" class="submitButton btn-primary">
                      <span style="font-weight: bold;">Continue</span>
                    </button>
                  </div>
                </div>
              </div>
            </form>

            <!-- main-panel ends -->
          </div>
          <!-- page-body-wrapper ends -->
      </div>
      </div>
      <%- include('./include/footer'); %>
  </body>

</html>
<script>
  $(function () {
    $("#create_form").validate({
      rules: {
        currentPassword: {
          required: true,
        },
        password: {
          required: true,
          minlength: 8, // Example: Minimum length of 8 characters
        },
        confirmPassword: {
          required: true,
          equalTo: "#password", // Ensure the value matches the password field
        },
      },
      messages: {
        currentPassword: {
          required: "Please enter your current password",
        },
        password: {
          required: "Please enter a new password",
          minlength: "Your password must be at least 8 characters long",
        },
        confirmPassword: {
          required: "Please confirm your new password",
          equalTo: "Passwords do not match",
        },
      },
      submitHandler: function (form) {
        event.preventDefault();
        $.ajax({
          type: "POST",
          url: "/admin/change-admin-password",
          data: $(form).serialize(),
          success: function (data) {
            swal(
              "Success!",
              "Your password has been changed successfully!",
              "success"
            );
            $("#create_form").trigger("reset");
            window.location = "/admin/dashboard";
          },
          error: function (data) {
            swal("Error", "Current password not  matched", "error");
          },
        });
      },
    });
  });

  /**
   * This function is using to
   * @param     :
   * @returns   :
   * @Mohit :
   */
  const togglePassword = document.querySelector("#togglePassword");
  const password = document.querySelector("#password");
  togglePassword.addEventListener("click", function (e) {
    const type =
      password.getAttribute("type") === "password" ? "text" : "password";
    password.setAttribute("type", type);
    this.classList.toggle("fa-eye-slash");
  });
  const togglePassword1 = document.querySelector("#togglePassword1");
  const currentPassword = document.querySelector("#currentPassword");
  togglePassword1.addEventListener("click", function (e) {
    const type =
      currentPassword.getAttribute("type") === "currentPassword"
        ? "text"
        : "currentPassword";
    currentPassword.setAttribute("type", type);
    this.classList.toggle("fa-eye-slash");
  });
  const togglePassword2 = document.querySelector("#togglePassword2");
  const confirmPassword = document.querySelector("#confirmPassword");
  togglePassword2.addEventListener("click", function (e) {
    const type =
      confirmPassword.getAttribute("type") === "confirmPassword"
        ? "text"
        : "confirmPassword";
    confirmPassword.setAttribute("type", type);
    this.classList.toggle("fa-eye-slash");
  });
</script>

<style>
  .brand-log {
    width: 158px !important;
  }

  .l {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
  }

  .mainDiv {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    font-family: "Open Sans", sans-serif;
  }

  .cardStyle {
    width: 500px;
    border-color: white;
    background: #fff;
    padding: 36px 0;
    border-radius: 4px;
    margin: 30px 367px;
    box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.25);
  }

  #signupLogo {
    max-height: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .formTitle {
    font-weight: 600;
    margin-top: 20px;
    color: #2f2d3b;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
  }

  .inputLabel {
    font-size: 0.875rem;
    line-height: 1.4rem;
    vertical-align: top;
    margin-bottom: 0.5rem;
  }

  .inputDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  input {
    height: 40px;
    font-size: 16px;
    border-radius: 4px;

    border: solid 1px #ccc;
    padding: 0 11px;
  }

  input:disabled {
    cursor: not-allowed;
    border: solid 1px #ccc;
  }

  .buttonWrapper {
    margin-top: 40px;
  }

  .submitButton {
    width: 70%;
    height: 40px;
    margin: auto;
    display: block;
    color: #fff;
    background-color: #f70093;
    border-color: none;
    border: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }

  .submitButton:disabled,
  button[disabled] {
    border: 1px solid #cccccc;
    background-color: #cccccc;
    color: #666666;
  }

  .form-password {
    width: 25%;
  }
</style>