<!DOCTYPE html>
<html lang="en">
<%- include('./include/header'); %>
  <style>
    /* * {
      font-family: Roboto;
    } */

    .submit-data {
      width: max-content;
    }

    .selet-opt {
      width: 100%;
      padding: 10px;
      margin-bottom: 25px;
      border-radius: 10px;
      border: 2px solid #ced4da;
    }

    .form-group input {
      border: 2px solid #ced4da;
    }

    .card-header {
      background-color: #0056b3;
    }

    .card-header h3 {
      color: #fff;
    }

    .card-body {
      background: #fff;
    }

    .submit-data {
      border-radius: 5px;
    }

    .country label {
      margin-bottom: 10px;
      font-size: 16px;
    }

    .country select {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 10px;
    }

    .error {
      color: red;
      font-size: 12px;
      /* margin-top: 5px; */
    }

    input.error {
      border-color: red;
    }
  </style>

  <body>
    <!-- partial:../../partials/_navbar.html -->
    <%- include('./include/sidebar'); %>
      <div id="right-panel" class="right-panel">
        <%- include('./include/topbar'); %>
          <div class="content-side">
            <div class="main-panel">
              <div class="content">
                <div class="card mt-3">
                  <form id="insertUser">
                    <!-- <div class="card-header text-white p-3"><strong>Create New User</strong></div> -->
                    <div class="card-header text-white p-3">
                      <strong style="font-weight: 800;">Create New User</strong>
                     </div>
                  
                    <div class="card-body card-block">
                      <div class="form-group">
                        <label for="firstName" class=" form-control-label" style="padding-bottom: 10px; font-weight: bold;">First Name</label>
                        <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-user"></i></div>
                          <input type="text" class="form-control" name="userName" id="userName"
                            placeholder="First Name" />
                        </div>
                      </div>
                      <div class="form-group mt-3">
                        <label for="lastName" class=" form-control-label" style="padding-bottom: 10px; font-weight: bold;">Last Name</label>
                        <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-user"></i></div>
                          <input type="text" id="userLast" name="userLast" placeholder="Last Name" class="form-control">
                        </div>
                      </div>
                      <div class="form-group mt-3">
                        <label for="Email" class=" form-control-label" style="padding-bottom: 10px; font-weight: bold;">Email</label>
                        <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                          <input type="text" id="userEmail" name="userEmail" placeholder="Email" class="form-control">
                        </div>
                      </div>
                      <div class="form-group mt-3">
                        <label for="password" class=" form-control-label" style="padding-bottom: 10px; font-weight: bold;">Password</label>
                        <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                          <input type="password" id="userPassword" name="userPassword" placeholder="Password"
                            class="form-control">
                        </div>
                      </div>
                    </div>
                     
                      <div class="form-group">
                        <label class="form-control-label" style="padding-bottom: 10px; padding-left: 20px; font-weight: bolder;">Image</label>                        
                          <div class="custom-file" style="margin-left: 15px; border-color: 2px solid #ced4da; margin-bottom: 18px; margin-right: 12px;">
                            <div class="">
                              <input type="file" name="image" class="input-file form-control" id="userImage"
                                style="border: 2px solid #ced4da" multiple />
                            </div>
                          </div>
                          <p style="display: none" id="img_error_msg" class="alert alert-danger">
                          </p>
                        </div>
                      </div>
                  
                      
                  </div>
                     

                    <div class="card-footer" style="margin-left: 20px;">
                      <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Submit
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- main-panel ends -->
      <!-- page-body-wrapper ends -->
      </div>
      <%- include('./include/footer'); %>
  </body>

</html>
<script>
  $(function () {
    $("#insertUser").validate({
      errorPlacement: function (error, element) {
        error.insertAfter(element); // Place the error after the element
        error.css({
          "padding-left": "83px",
          "margin-top": "-21px",
          "position": "absolute",
          "font-size": "13px"

        });
      },

      errorElement: "span",
      rules: {
        userName: {
          required: true,
          maxlength: 20,
        },
        userLast: {
          required: true,
          maxlength: 20,
        },
        userEmail: {
          required: true,
          email: true,
          maxlength: 50,
        },
        userPassword: {
          required: true,
          maxlength: 20,
        },
      },
      messages: {
        userName: {
          required: "*Please enter first name",
          maxlength: "*First name must not exceed 20 characters",
        },
        userLast: {
          required: "*Please enter your last name",
          maxlength: "*Last name must not exceed 20 characters",
        },
        userEmail: {
          required: "*Please enter your email",
          email: "*Please enter a valid email address",
          maxlength: "*Email must not exceed 50 characters",
        },
        userPassword: {
          required: "*Please enter your password",
          maxlength: "*Password must not exceed 20 characters",
        },
      },
      submitHandler: function (form) {
        let formData = $(form).serialize();
        console.log("Seialized  form data:" , formData)
        $.ajax({
          url: "/admin/insert-user",
          headers: {
            Authorization: localStorage.getItem("token"),
          },
          data: formData,
          cache: false,
          processData: false,
          method: "POST",
          type: "POST",
          success: function (_res) {
            console.log(_res,"ressssssssssssssssssssssssssssssss")
            let _id = _res.payload.userUuid
            console.log(_id, "_id_id_id_id")
            KWACHA_MAIN.uploadUserMultiple(_id);


            $(form).trigger("reset");
            let successConfig = {
              title: "Confirmation",
              message: `Operation performed successfully.`,
              type: "success",
            };
            KWACHA_MAIN.sweetAlert(successConfig);
          },
          error: function (e) {
            let responseText = JSON.parse(e.responseText);
            let errorConfig = {
              title: "Error",
              message: responseText.message,
              type: "error",
            };
            KWACHA_MAIN.sweetAlert(errorConfig);
          },
        });
      },
    });
  });

  KWACHA_MAIN.uploadUserMultiple = function (_id) {
    console.log("Checking for file input............................... ")
            if (document.getElementById("userImage")) {
                if (typeof document.getElementById("userImage").files !== "undefined" && document.getElementById("userImage").files.length > 0) {
                    var formData = new FormData();
                    var files = document.getElementById("userImage").files;
                    console.log("Files received from frontend:", files);
                    for (var i = 0; i <= files.length; i++) {
                        formData.append("multiple", files[i]);
                    }
                    formData.append("userUuid", _id);
                    $.ajax({
                        url: "/admin/user-image",
                        data: formData,
                        dataType: "json",
                        cache: false,
                        contentType: false,
                        processData: false,
                        method: "POST",
                        type: "POST",
                        success: function () {
                          console.log("Image uploaded Succesfully................")
                            $("insertUser").trigger("reset");
                        },
                        error: function (error) {
                            let message = error.responseJSON ? error.responseJSON.message : "Something Went wrong!";
                            KWACHA_MAIN.sweetAlert({ title: "Error", message: message, type: "error" });
                        },
                    });
                }
            }
        };



        $(document).on("click", ".upload-field", function () {
            var file = $(this).parent().parent().parent().find(".input-file");
            file.trigger("click");
        });
        $(document).on("change", ".input-file", function () {
            $(this)
                .parent()
                .find(".form-control")
                .val(
                    $(this)
                        .val()
                        .replace(/C:\\fakepath\\/i, "")
                );
        });

</script>

<script>
  function toggleInput() {
    var contactType = document.getElementById("contactType").value;
    var emailField = document.getElementById("emailField");
    var phoneField = document.getElementById("phoneField");

    if (contactType === "email") {
      emailField.style.display = "block";
      phoneField.style.display = "none";
    } else if (contactType === "phone") {
      emailField.style.display = "none";
      phoneField.style.display = "block";
    }
  }
</script>